* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  overflow-x: hidden;
}
/* section-1 start */
.img1 {
  background-image: url(./img/banner-bk.jpg);
  background-repeat: no-repeat;
  height: 700px;
  width: 100%;
}
.img2 {
  width: 1100px;
  position: relative;
  top: 64px;
  left: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.k :visited {
  color: white;
}
.k {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.ka {
  position: absolute;
  top: 190px;
  left: 126px;
  font-size: 70px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.pera {
  position: absolute;
  top: 420px;
  left: 126px;
  font-size: 20px;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.a10 {
  position: absolute;
  top: 500px;
  left: 126px;
  margin: 24px 0px;
  padding: 13px 30px;
  border-radius: 30px;
  font-weight: 700;
  background: #00ffad;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  color: #192440;
}
.a10:hover {
  transition: all 0.5s;
  color: white;
}
/* section-1 end */
/* section-2 start */
.Sma {
  position: relative;
  top: 40px;
  left: 300px;
  font-size: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  overflow-y: hidden;
}
.box {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box1 {
  width: 300px;
  height: 300px;
  margin: 0px 50px;
}
.box2 {
  width: 300px;
  height: 300px;
  margin: 0px 50px;
}
.box3 {
  width: 300px;
  height: 300px;
  margin: 0px 50px;
}
.img0 {
  display: flex;
  justify-content: center;
}
.h {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  text-align: center;
}
.pera1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
/* section-2 end */
/* section-3 start */
.lap {
  overflow-y: hidden;
  width: 100%;
  background-color: #00ffad;
  z-index: 2;
}
.lap1 {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 80px;
  height: 400px;
}
.lap1::before {
  content: "";
  height: 400px;
  width: 100%;
  background: #ffffff;
  position: absolute;
  z-index: 0;
  top: 0;
  clip-path: polygon(0 0, 100% 0, 100% 17%, 0 80%);
}
.a1 {
  font-size: 44px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  position: relative;
  top: 0px;
}
.a2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  top: 20px;
}
.a3 {
  position: relative;
  top: 50px;
  left: 0px;
  background-color: #192440;
  margin: 24px 0px;
  padding: 15px 30px;
  border-radius: 30px;
  transition: all 0.2s linear;
  border: none;
}
.a3:hover {
  background-color: black;
  position: relative;
  margin-top: 18px;
  transition: all 0.2s linear;
}
.a3 a {
  color: white;
}
.lap2 {
  display: flex;
  justify-content: center;
  gap: 80px;
  height: 330px;
}
/* section-3 end */
/* section-4 start */
.che {
  font-size: 44px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  position: relative;
  top: 100px;
  left: 490px;
}
.c {
  width: 100%;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.c1 {
  width: 380px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c2 {
  width: 380px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #192440;
  border-radius: 5px;
}
.c3 {
  width: 380px;
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.d1 {
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.d2 {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.d3 {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 35px;
}
.sp {
  font-size: 100px;
}
.d4 {
  background-color: #ffffff;
  margin: 24px 0px;
  padding: 10px 35px;
  border-radius: 30px;
  border: 2px solid #192440;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.d5 {
  margin: 24px 0px;
  padding: 10px 40px;
  border-radius: 30px;
  background: #00ffad;
  border: none;
}
.a12 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #192440;
  margin: 24px 0px;
  padding: 10px 35px;
  border-radius: 30px;
  font-weight: 700;
  transition: all 0.5s linear;
}
.a12:hover {
  background-color: #192440;
  color: #ffffff;
  position: relative;
  bottom: 5px;
  transition: all 0.5s linear;
}
.a13 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #192440;
  margin: 24px 0px;
  padding: 10px 35px;
  border-radius: 30px;
  font-weight: 700;
  background-color: #00ffad;
  transition: all 0.5s linear;
}
.a13:hover {
  color: #ffffff;
  position: relative;
  bottom: 5px;
  transition: all 0.5s linear;
}

/* section-4 end */
/* section-5 start */
.e1 {
  width: 100%;
  height: 215px;
  background-color: #eceeef;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

/* section-5 end */
/* section-6 start */
.f1 {
  background-image: url(./img/contact-bk.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.f2 {
  margin-left: 50px;
  height: 400px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.f3 {
  font-size: 44px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-bottom: 50px;
}
.f4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  bottom: 50px;
}
.f5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  bottom: 50px;
}
.f6 {
  height: 400px;
  width: 700px;
  display: flex;
}
.label {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  color: #00ffad;
}
.h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 400;

  margin-top: -15px;
  margin-left: 60px;
  color: #00ffad;
}
.h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  margin-top: -15px;
  font-weight: 400;
  margin-left: 180px;
  color: #00ffad;
}
.h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: medium;
  margin-left: 250px;
  margin-top: -15px;
  color: #00ffad;
}
.mainDiv1 {
  margin-left: -30px;
  margin-top: 80px;
}
.mainDiv2 {
  margin-top: 80px;
  margin-left: -90px;
}
.mainDiv3 {
  margin-top: 160px;
  margin-left: -610px;
}
.Input1 {
  border: 1px solid #00ffad;
  width: 255px;
  height: 38px;
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  left: 60px;
  top: 10px;
}
.Input1,
.Input2,
.Input3:focus {
  color: white;
}
.Input2 {
  border: 1px solid #00ffad;
  width: 255px;
  height: 38px;
  border-radius: 5px;
  background-color: transparent;
  position: relative;
  left: 180px;
  top: 10px;
}
.Input3 {
  position: relative;
  left: 250px;
  top: 10px;
  border: 1px solid #00ffad;
  width: 540px;
  height: 78px;
  border-radius: 5px;
  background-color: transparent;
}
.submit {
  border: 1px solid #00ffad;
  background-color: #00ffad;
  border-radius: 50px;
  margin-top: 300px;
  margin-left: -360px;
  margin-bottom: 50px;
  width: 540px;
  padding-left: 240px;
  padding-top: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 400;
  transition: all 0.5s linear;
}
.submit:hover {
  color: #ffffff;
  position: relative;
  bottom: 5px;
  transition: all 0.5s linear;
}
/* section-6 end */
/* section-7 start */
.futter {
  width: 1349px;
  height: 120px;
  background-color: #192440;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}
ul {
  display: flex;
}
.fas,
.fa-brands,
.fa-solid,
.fa-brands {
  color: #eceeef;
  padding: 0px 15px;
}
/* section-7 end */
